@font-face {
    font-family: 'DMSerif';
    src: url('fonts/DMSerifText-Regular.ttf') format('truetype');
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f7e5;
    color: #333;
    margin: 0;
    padding: 0;
}
header .list {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
}

header .list img {
    width: 24px;
    height: 24px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    transition: right 0.3s ease;
    padding-top: 60px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.sidebar.open {
    right: 0;
}

header {
    background-color: #544634;
    color: white;
    padding: 0.5rem;
    text-align: center;

}
.cafe{
    width: 30px;
    height: auto;
}
.bemvindo {
    font-family: 'DMSerif';
    font-size: 30px;
    font-weight: bold;
}

.p1 {
    color: white;
    font-size: 20px;
    margin-top: -20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.div-empresas {
    margin-top: 100px;
}

.empresas {
    font-size: 1.5rem;
    font-weight: bold;
    color: #544634;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-family: 'DMSerif';
}

.div-container {
    text-align: center;
    padding: 20px;
    
    margin-bottom: 3%;
}

.empresas-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.card {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #faefdc;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 400px;
    height: 200px;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.images-empresasCSP {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.images-empresasUNIMED {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.images-empresasEKO7 {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.images-empresasVISION {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.span-1 {
    color: #2e2e2e;
}

.span-2 {
    color: #2e2e2e;
}

.span-3 {
    color: #2e2e2e;
}

.span-4 {
    color: #2e2e2e;
}

.nav-container {
    display: flex;
    align-self: center;
    justify-content: center;
}

button {
    background: none;
    border: none;
    background-color: none;

}

.fonte {
    font-size: 15px;
    color: #544634;
}

.button {
    background: none;
    background-color: #faefdc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s ease-in-out;
    font-family: 'DMSerif';
}

.button:hover {
    background-color: #faefdc;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

section {
    max-width: 900px;
    margin: 70px auto;
    padding: 40px;
    background-color: #faefdc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

section:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

h2 {
    color: #544634;
}

p {
    line-height: 1.6;
    color: #544634;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    color: #544634;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.span-container{
    display: grid;
    justify-content: center;
    align-items: center;
}
.span-container2{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.span-container .span-1 {
    font-size: 10px;
}
.span-container .span-1-title {
    font-weight: bold;
}
.span-container .span-2 {
    font-size: 10px;
}
.span-container .span-2-title {
    font-weight: bold;
}
.span-container .span-3 {
    font-size: 10px;
}
.span-container .span-3-title {
    font-weight: bold;
}
.span-container2 .span-4 {
    font-size: 10px;
}
.span-container2 .span-4-title {
    font-weight: bold;
}


.div-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.div-section>section {
    flex: 0 1 calc(50% - 20px);
    margin: 10px;
    box-sizing: border-box;
}

.topicos {
    font-size: 1.5rem;
    font-weight: bold;
    color: #544634;
    text-align: center;
    margin-top: 60px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-family: 'DMSerif';
}

.Btn {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #544634;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
}

.svgIcon {
    fill: rgb(255, 255, 255);
}

.icon2 {
    width: 18px;
    height: 5px;
    border-bottom: 2px solid rgb(255, 255, 255);
    border-left: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
}

.tooltip {
    position: absolute;
    right: -220px;
    opacity: 0;
    background-color: #544634;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .2s;
    pointer-events: none;
    letter-spacing: 0.5px;
}

.tooltip::before {
    content: "";
    position: absolute;
    top: 33%;
    left: 0;
    margin-left: -9px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #544634 transparent transparent;
}

.Btn:hover .tooltip {
    opacity: 1;
    transition-duration: .3s;
}

.Btn:hover {
    background-color: rgb(52, 45, 31);
    transition-duration: .3s;
}

.Btn:hover .icon2 {
    border-bottom: 2px solid rgb(235, 235, 235);
    border-left: 2px solid rgb(235, 235, 235);
    border-right: 2px solid rgb(235, 235, 235);
}

.Btn:hover .svgIcon {
    fill: rgb(255, 255, 255);
    animation: slide-in-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .empresas-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }

    .button {
        width: 10px;
        max-width: 10px;
        min-width: 10px;
        height: 10px;
    }

    .fonte {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        color: #544634;
    }

    .div-section>section {
        flex: 0 1 calc(100% - 20px);
    }
}

.divider-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.divider {
    width: 90%;
    height: 1px;
    background-color: #53514d;
    margin: 20px 0;
}
