header {
    background-color: #544634;
    color: white;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 2rem;
    text-align: center;
    width: 100%;
    margin-top: -1.1%;
}

.certificados {
    font-family: 'DMSerif';
    font-size: 30px;
    font-weight: bold;
    margin-right: -1%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f7e5;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-house {
    position: absolute;
    top: 5%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.tooltiptext-inicio {
    visibility: hidden;
    width: 150px;
    background-color: #251f17;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: -20px;
    left: 350%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltiptext-inicio::after {
    content: "";
    position: absolute;
    top: 45%;
    left: 0;
    margin-left: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #251f17 transparent transparent;
}
.button-house:hover .tooltiptext-inicio {
    visibility: visible;
    opacity: 0.8;
}

.tooltiptext-download {
    visibility: hidden;
    width: 150px;
    background-color: #544634;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 3px;
    left: 400%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}


.tooltiptext-download::after {
    content: "";
    position: absolute;
    top: 32%;
    left: 0;
    margin-left: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #544634 transparent transparent;
}



.button:hover .tooltiptext-download{
    visibility: visible;
    opacity: 0.8;
}

.tooltiptext-telacheia {
    visibility: hidden;
    width: 150px;
    background-color: #544634;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 45px;
    left: 400%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}


.tooltiptext-telacheia::after {
    content: "";
    position: absolute;
    top: 32%;
    left: 0;
    margin-left: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #544634 transparent transparent;
}



.button:hover .tooltiptext-telacheia{
    visibility: visible;
    opacity: 0.8;
}

.button-house i {
    margin-right: 8px;
    color: white;
}

i {
    color: white;
}


.title-certificados {
    margin-bottom: -15%;
}

a {
    color: #544634;
    font-weight: bolder;
    text-decoration: none;
}

.container {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.certificado {
    margin-top: 5%;
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 1s ease-out forwards;
}

.certificado:nth-child(1) {
    animation-delay: 0.3s;
}

.certificado:nth-child(2) {
    animation-delay: 0.6s;
}

.certificado:nth-child(3) {
    animation-delay: 0.9s;
}

.buttons-container {
    position: absolute;
    top: 50%;
    right: -50px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    padding: 8px;
    font-size: 14px;
    background-color: #544634;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #8a6f58;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 1180px) {
    header {
        margin-top: -20px;
    }
}

@media (max-width: 768px) {
    header {
        margin-top: -20px;
    }

    .container {
        margin-top: 3%;
    }

    .certificados {
        font-size: 25px;
        margin-right: -20px;
    }

    .certificado {
        width: 90%;
        max-width: 90%;
        margin-bottom: 20px;
    }

    .buttons-container {
        position: relative;
        top: auto;
        right: auto;
        transform: none;
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    header {
        margin-top: -20px;
    }

    .certificados {
        font-size: 22px;
        margin-right: -20px;
    }

    .certificado {
        width: 100%;
        max-width: 100%;
    }

    .buttons-container {
        flex-direction: row;
        gap: 5px;
    }

    button {
        font-size: 12px;
        padding: 6px;
    }
}
